<%= form_for :session, url: session_path do |form| %>
 <div class="container"> 
  <div class="form-control">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="form-control">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
  </div>

  <div class="btn btn-lg btn-primary btn-block">

    <%= form.submit %>
  </div>

  <a href="/auth/facebook">
  <i class="fa fa-facebook"/>
  Log In with Facebook
  </a>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <br>  
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>


 </div>

<% end %>




