




<div class="container" id='listing-form'>
 <div class="jumbotron"> 
 
    <%= form_for(@listing) do |f| %>
      <% if @listing.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

          <ul>
          <% @listing.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <ul class="col-md-6" id="form-ul">
        <li><%= f.label :name %>
            <%= f.text_field :name, class:'form-control' , id:"form-li"%></li><br>
      
        
        <li><%= f.label :home_type %>
            <%= f.text_field :home_type, class:'form-control'  , id:"form-li"%></li><br>

      
        <li><%= f.label :room_type %>
            <%= f.text_field :room_type, class:'form-control'  , id:"form-li"%></li><br>
      
      
        <li><%= f.label :accommodates %>
            <%= f.number_field :accommodates, class:'form-control'  , id:"form-li"%></li><br>
      </ul>
      
      <ul class="col-md-6" id="form-ul">
        <li><%= f.label :address %>
            <%= f.text_area :address, class:'form-control'  , id:"form-li"%></li><br>
      
      
        <li><%= f.label :city %>
            <%= f.text_field :city, class:'form-control'  , id:"form-li"%></li><br>

        <li><%= f.label :price_per_night %> (USD)
            <%= f.number_field :price_per_night, class:'form-control' , id:"form-li"%></li><br>
      
        
        <li><%= f.label :pictures %>
            <%= f.file_field :pictures, multiple: true , id:"form-li"%></li><br>
        
      </ul>

        <div class="col-md-12">
          <%= f.submit "Submit", class:"btn btn-sm btn-success btn-block" , id: "form-submit-btn"%>
        </div>
    <% end %>
        
        <%= link_to 'Back', listings_path, class:"btn btn-sm btn-primary", id:"form-submit-btn-2"%>
 </div>
</div>

  
