<p id="notice"><%= notice %></p>
<%=flash[:alert]%>






<div class="container" >

    <h1>KevBnB's listings</h1>

    <%if @listings.blank?%>

      <h4>You have not listed any listing yet</h4>

    <%else%>
    





    
      <div class="table-responsive" id="table-listings">
        <div >
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-6">Descriptions</th>
                <th class="col-md-2"></th>
                <th class="col-md-2">Posted by</th>
                <th colspan="3" class="col-md-2" id="last-column"></th>
              </tr>
            </thead>

            <tbody>
              <% @listings.each do |listing| %>
                <tr>
                    <td>
                      <h3 class="listing-name"><%= listing.name %></h3>
                      
                      <p><b>Type of house:</b><%= listing.home_type %></p>
                      <p><b>Type of room: </b><%= listing.room_type %></p>
                      <p><b>Maximum amount of tenants: </b><%= listing.accommodates %></p>
                      <p><b>Address: </b><%= listing.address %></p>
                      <p><b>City: </b><%= listing.city %></p>
                      <p><b>Posted on: </b><%= listing.created_at.strftime("%D")%></p>
                      </td>
                    <td>
                      <h4 class="price-title">USD<%= listing.price_per_night%> per night</h4>
                    </td>
                      <%if !listing.user.profile.nil?%>
                         <td class="table-col-name">
                        

                         <%= link_to "#{ listing.user.profile.name }", profile_path(listing.user.profile) %>
                         <br>
                         <br>
                         <%= image_tag listing.user.profile.image_url(:medium).to_s, class: "img-circle" %>
                         </td> 
                      <%else%>
                          <td class="table-col-name"><%= listing.user.email %></td>
                      <%end%>

                      <% if listing.pictures.blank? %>
                         <td class="last-column"><%= link_to 'Show', listing %></td>
                      <% else %>
                         <td class="last-column"><a href="/listings/<%=listing.id%>"><span class="glyphicon glyphicon-picture"></span></a></td>
                      <% end %>

                        <%if can? :update, listing%>
                           <td class="last-column">
                           <%= link_to edit_listing_path(listing) do%>
                              <span class="glyphicon glyphicon-edit"></span>
                           <% end %>
                          </td>

                        <%else%>
                           <td class="last-column"></td>
                        <%end%>

                        <%if can? :destroy, listing%>
                           <td class="last-column">
                           <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <span class="glyphicon glyphicon-remove"></span>
                           <% end %>
                              </td>
                        <%else%>
                            <td class="last-column"></td>
                        <%end%>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <%end%>
</div>
  <br>
<%= will_paginate @listings%><br>
<%= link_to 'New Listing', new_listing_path %>
