<p id="notice"><%= notice %></p>
<%=flash[:alert]%>




<div class="container" >

    <h1 id="kevin-listing">KevBnB's listings</h1>
   <div  class="text-center"><%= link_to 'New Listing', new_listing_path %></div>

    <%if @listings.blank?%>

      <h4>You have not listed any listing yet</h4>

    <%else%>
  
      <div class="table-responsive" id="table-listings">
        <div >
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-6">Descriptions</th>
         
               
                <th colspan="6" class="col-md-5"></th>
              
              </tr>
            </thead>

            <tbody>
              <% @listings.each do |listing| %>
                <tr>
                      <td>
                      <h3 class="listing-name"><a href="/listings/<%=listing.id%>"><%= listing.name.upcase %></a> </h3>
                      
                      <p><b>Type of house:</b><%= listing.home_type %></p>
                      <p><b>Type of room: </b><%= listing.room_type %></p>
                      <p><b>Maximum amount of tenants: </b><%= listing.accommodates %></p>
                      <p><b>Address: </b><%= listing.address %></p>
                      <p><b>City: </b><%= listing.city %></p>
                      <p><b>Posted on: </b><%= listing.created_at.strftime("%D")%></p>
                      </td>
                   
                        <%if !listing.user.profile.nil?%>
                         
                            <% if listing.pictures.present?%>
                           
                              
                              
                                  <td >
                                   
                                    <div class="test">
                                     <div class="three-buttons">
                                      <a href="/listings/<%=listing.id%>"><span class="glyphicon glyphicon-plus-sign" style="color:white"></span></a>
                                

                                      <%if can? :update, listing%>
                                     
                                       <%= link_to edit_listing_path(listing) do%>
                                       <span class="glyphicon glyphicon-edit" style="color:white"></span>
                                      <% end %>
                                       

                                      <%else%>
                                        <div></div>
                                      <%end%>

                                      <%if can? :destroy, listing%>                                       
                                       <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                       <span class="glyphicon glyphicon-remove" style="color:white"></span>
                                      <% end %>
                                            
                                      <%else%>
                                          <div></div>
                                      <%end%>
                                   </div>
                                    <div><%= image_tag listing.pictures.first.url(:big).to_s %></div>
                                    <div><a href="/profiles/<%=listing.user.profile.id%>"><%= image_tag listing.user.profile.image_url(:thumb).to_s, class: "imagetwo" %></a></div>
                                    </div>
                                    <div class='test2'>
                                    <div class="imagetwo-name"><%= link_to "#{ listing.user.profile.name }", profile_path(listing.user.profile) %></div><div class="price-title">USD<%= listing.price_per_night%> per night</div>
                                    </div>
                      
                              </td> 
                            <%end%>
                      
                      <%else%>
                          <td class="table-col-name"><%= listing.user.email %></td>
                      <%end%>

                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <%end%>
</div>
  <br>
<div class="text-center"><%= will_paginate @listings%><br></div> 

