<p id="notice"><%= notice %></p>

<div class="container">
<p>
<div class="test-listing">
<%if !@listing.pictures.blank?%>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="">
      <!-- Indicators -->
      <ol class="carousel-indicators">
       <% @listing.pictures.each_with_index do |picture, index| %>
           <% if index == 0 %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}" class="active"></li>            
           <% else %>
             <li data-target="screenshot-carousel" data-slide-to="#{index}"></li>
           <% end %>
         <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
      <div class="item active">
          <%= image_tag @listing.pictures[0].url(:full).to_s, class: "img-rounded" %>
      </div>

       <% @listing.pictures.each do |picture| %>
        <div class="item">
          <%= image_tag picture.url(:full).to_s, class: "img-rounded" %>
        </div>
        <%end%>
       
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
<%end%>
</p>
      <div class="box-listing">
        <p>
          <strong>Name:</strong>
          <%= @listing.name %>
        </p>

        <p>
          <strong>Home type:</strong>
          <%= @listing.home_type %>
        </p>

        <p>
          <strong>Room type:</strong>
          <%= @listing.room_type %>
        </p>

        <p>
          <strong>Accommodates:</strong>
          <%= @listing.accommodates %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @listing.address %>
        </p>

        <p>
          <strong>City:</strong>
          <%= @listing.city %>
        </p>

        <%if !@listing.user.profile.nil?%>
        <p>
          <strong>Host:</strong>
          <%= link_to "#{ @listing.user.profile.name }", profile_path(@listing.user.profile) %>
        </p>

        <p>
          <strong>Price Per Night:</strong>
          USD <%= @listing.price_per_night %>
        </p>
        <%end%>
      </div>
<br>  

<%= link_to 'New Reservation', new_reservation_path(listing_id: @listing.id), class:"new-reservation" , class:"btn btn-primary"%> 
<%if can? :update, @listing%>
<%= link_to 'Edit', edit_listing_path(@listing) , class:"btn btn-info"%> 
<%end%>
<%= link_to 'Back', listings_path , class:"btn btn-primary"%>
</div>
</div>
