<p id="notice"><%= notice %></p>


<p>
<%if !@listing.pictures.blank?%>
<div id="myCarousel" class="carousel slide" data-ride="carousel" style="">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>     
      </ol>
      <div class="carousel-inner" role="listbox">
      <div class="item active">
          <%= image_tag @listing.pictures[1].url(:full).to_s, class: "img-rounded" %>
      </div>

       <% @listing.pictures.each do |picture| %>
        <div class="item">
          <%= image_tag picture.url(:full).to_s, class: "img-rounded" %>
        </div>
        <%end%>
       
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
<%end%>
</p>

<p>
  <strong>Home type:</strong>
  <%= @listing.home_type %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @listing.room_type %>
</p>

<p>
  <strong>Accommodates:</strong>
  <%= @listing.accommodates %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<%if !@listing.user.profile.nil?%>
<p>
  <strong>Host:</strong>
  <%= link_to "#{ @listing.user.profile.name }", profile_path(@listing.user.profile) %>
</p>
<%end%>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>
<%= link_to 'New Reservation', new_reservation_path(listing_id: @listing.id) %> |
<%if can? :update, @listing%>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%end%>
<%= link_to 'Back', listings_path %>
