<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <p>Guest : 
  <%if !current_user.profile.blank? %>
    <%=current_user.profile.name%></p>
  <%else%>
    <%=current_user.email%>
  <%end%>
  
  <p>Host : 
  <%if !@host.user.profile.blank? %>
    <%=@host.user.profile.name%></p>
  <%else%>
    <%=@host.user.email%>
  <%end%>
  
  <div class="field">
    <%= f.label :from %><br>
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :until %><br>
    <%= f.date_select :until %>
  </div>

    <%= f.hidden_field :guest_name, value: current_user.profile.name %>
  
  <%if @host.user.profile.present?%>
    <%if @host.user.profile.name.present?%>
      <%= f.hidden_field :host_name, value: @host.user.profile.name %>
    <% else %>
      <%= f.hidden_field :host_name, value: @host.user.email %>
    <%end%>    
  <% end %>

    <%= f.hidden_field :listing_id, value: @listing_id %>
  
  
    <%= f.hidden_field :user_id, value: current_user.id %>
  <br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to 'Back', listings_path %>
<% end %>
