<p id="notice"><%= notice %></p>

<h1 class="text-center">Listing Reservations</h1>


<%if current_user.reservations.blank?%>
  <h4>You have no reservations yet.</h4>
<%else%>
<table width=100%>
  <thead>
    <tr>
      <th>Guest name</th>
      <th>Host name</th>
      <th>From</th>
      <th>Until</th>
      <th>Reservation Made On</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.guest_name %></td>
        <td><%= reservation.host_name %></td>
        <td><%= reservation.from %></td>
        <td><%= reservation.until %></td>
        <td><%= reservation.created_at.strftime("%d %b. %Y") %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<br>
