<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>

<style type="text/css">
  
#brand-image
{
  height: 150%;
 
  width: auto;
}

#welcome{
  margin-top: 15px;
}

#navbar{
  font-size: 14px;
  margin-top: 5px;
  font-family: Courier;
  letter-spacing: 2px;
}

.dropdown-menu{
  letter-spacing: 0px;
  font-size: 12px;
}

.navbar-right{
  letter-spacing: 0.5px;

}

.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 600px !important;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

#caption-1{
  color:black;
}

#table-listings{
  text-align: left;
}
#first-column{
  text-align:right;
}
th {
 text-align: center;
 font-size: 18px;
 letter-spacing: 4px;
 padding: 10px;
 background-color: gray;
 color: white ;
}
td {
  font-size: 14px;
  padding: 10px;
}
.last-column{
  border:none;
}

table{

}

.listing-name{
  letter-spacing: 2px;
  color: darkgray;
  font-family: Courier;
}

.price-title{
  color:black;
  text-align: center;
  padding-top:13px;
}

.table-col-name{
  text-align: center;

}
</style>






 <meta name="viewport" content="width=device-width, initial-scale=1.0">


<head>
  <title>KevBnB</title>
  <%= include_gon %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>

</head>
<body>
  
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">
              <img id="brand-image" alt="kevbnb" src="http://i66.tinypic.com/261hzra.png">
          </a>  
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_url%></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>   
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "New Listing", listings_new_path %></li>
            <li><a href="/listings/index">Top Listings</a></li>
            <%if signed_in?%>

              
              <li></li>
                <li class="dropdown">
                <%if !current_user.profile.blank?%>
                  <a href="/profiles/<%=current_user.profile.id%>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ><%=current_user.profile.name%> <span class="caret"></span></a>
                <% else %>
                 <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><p id="welcome">Welcome<span class="caret"></span></p></div>
                <% end %> 

                  <ul class="dropdown-menu">
                <li><%= link_to "My reservations", user_reservations_path(current_user.id) %></li>
                <li><%= link_to "My listings", user_listings_path(current_user.id) %></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">User Profile</li>
                  <%if !current_user.profile.nil?%>
                     <li><%= link_to "Edit Profile", edit_profile_path(current_user.profile.id) %></li>
                  <%else%>
                     <li><a href="/profiles/new"><em>Create a profile</em></a></li>
                  <%end%>
                <li><%= link_to "Sign Out", sign_out_path, method: :delete%></li>
              </ul>
                </li>
                  <% if current_user.profile.present? %>
                    <% if current_user.profile.image.present? %>  
                       <li><%= image_tag current_user.profile.image_url(:thumb).to_s, class: "img-circle" %></li>
                    <% end %>
                  <% end %>
              
            <%else%>
              <li><%= link_to "Sign in", sign_in_path %></li>
            <%end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   
   <br>
   <br>
   <br>
   <br>
   <br>

     
    <div class="container" style="padding-bottom:150px">

  
  <%= yield %>
 
    </div>
  
</body>
    <div class="container-marketing">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
